body {
    background: linear-gradient(56deg, yellow, green);
    background-attachment: fixed;
}

.weightConverter {
    color: green;
    display: flex;
    background:linear-gradient(60deg, yellow,green);
    margin: 0 auto;
    margin-top: 30vh;
    width: 500px;
    height: 30vh;
    padding-left: 7vh;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 3px  yellow;
}

.inp {
    margin-left: 5vh;
}