body {
    background: linear-gradient(56deg, yellow, green);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.weightConverter {
    color: green;
    display: flex;
    background:linear-gradient(60deg, yellow,green);
    margin: 0 auto;
    margin-top: 30vh;
    width: 500px;
    height: 30vh;
    padding-left: 7vh;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 3px  yellow;
}

.inp {
    margin-left: 5vh;
    height: 3.5vh;
    border-radius: 5px;
    border: none;
    width: 320px;
    text-align: center;
}

.inner {
    margin-top: 5vh;
}


@media  screen and (max-width:768px) {
     
    .weightConverter {
        display: grid;
        width: 320px;
        justify-content: center;
        margin: 0;
        margin-top: 20vh;
        height: 28vh;
    }

    .textContent {
        display: grid;
        text-align: center;
    }

    .inp {
        width: 200px;
        text-align: center;
    }
}